<div class="bg-light display-1">
    <div class="container flexc">
        <section class="flexc">
            <div class="welcome-icon"> 
                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2" y="6" width="20" height="12" rx="2" stroke="#4A90E2" stroke-width="2" fill="none" />
                <path d="M6 10h12M6 14h8" stroke="#4A90E2" stroke-width="2" stroke-linecap="round" />
            </svg>
        </div>
            
            <h3 #user class="fw-bold font-size"></h3>
            <p class="p1">Access your account and manage your finances securely</p>
        </section>
    </div>
    <section class="d-flex  justify-content-between px-5 py-4 w-100 ">
        <div class="flexc container border-1 card align-self-start flex-grow-1 ">
            <div class="flexc g-4 ">
                <div class=" d-flex align-self-start">
                    <div class="card-icon"><svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="2" y="6" width="20" height="12" rx="2" stroke="#4A90E2" stroke-width="2" fill="none" />
                        <path d="M6 10h12M6 14h8" stroke="#4A90E2" stroke-width="2" stroke-linecap="round" />      </svg></div>
                    
                    <h3>My Account</h3>
                </div>
                <p>View your account balance and recent transactions</p>
                
            </div>
            <button class="btn btn-light " routerLink="/user/account">Get Started <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    
        <div class="flexc container border-1 card align-self-start flex-grow-1">
            <div class="flexc g-4 ">
                <div class=" d-flex align-self-start">
                    <div class="card-icon"><svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3v18h18" stroke="#4A90E2" stroke-width="2" fill="none" />
                        <path d="M7 12l4-4 4 4 6-6" stroke="#4A90E2" stroke-width="2" fill="none" />      </svg></div>
                    
                    <h3>Transaction History</h3>
                </div>
                <p>Browse and filter all your transactions</p>
                
            </div>
            <button class="btn btn-light " routerLink="/user/transactions">Get Started <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    
        <div class="flexc container border-1 card  flex-grow-1">
            <div class=" g-4 ">
                <div class=" d-flex ">
                    <div class="card-icon"><svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 1v22" stroke="#4A90E2" stroke-width="2" />
                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" stroke="#4A90E2" stroke-width="2" />      </svg></div>
                    
                    <h3>Fund Transfer</h3>
                </div>
                <p>Transfer money to other accounts securely</p>
                
            </div>
            <button class="btn btn-light" routerLink="/user/transfer">Get Started <i class="fa-solid fa-arrow-right" ></i></button>
        </div>
        </section>
</div>



