.welcome-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: rgba(74, 144, 226, 0.1);
    border-radius: 50%;
    margin: 24px;
}
.hi{
    border-radius: 20px;
    border:1px solid grey;
}
.account{
    border-radius: 10px;
    border: 1px solid grey;
}
p{
    color: gray;
}